
<center>
<p id="notice"><%= notice %></p>
	<h1>PDF's gerados com sucesso!</h1>
<legend></legend>
	<h4> Seus arquivos PDF's foram gerados em uma pasta dentro do diretório "Documentos".</p>
</h4>
</center>
