<table class="table table-striped table-bordered">
  <thead class="alert alert-success">
    <tr>
      <th>Código:</th>
      <th>Data do Envio:</th>
    </tr>
  </thead>

  <tbody>
    <% @cod.each_pair do |cod_key, cod_value| %>
      <tr>
        <td><%= cod_key %></td>
        <td><%= cod_value[0].created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>    
   