<center>	
<h1> Cadastrar arquivo CSV</h1>
<legend>
</legend>
<%= form_for :pessoas , :url => {:controller => 'csv', :action => 'buscar_pessoas'}  do |f| %>
<div class="form-inline">
 <%= f.label :arquivo, 'Selecione:' %>
   <%= f.file_field :arquivo,:class => 'btn btn-default', :required => true %><br />
  <%= f.submit 'Cadastrar',:class => 'btn btn-default' %>
 </div>
<% end %>
</center>
<br>
<legend></legend>