<center>	
<h1>Editar Empresa</h1>
<legend>
</legend>
<%= render 'form' %>
<legend>
</legend>
<%= link_to ' Visualizar', @empresa, :class => 'btn btn-default glyphicon glyphicon-zoom-in' %>
<%= link_to 'Voltar', empresas_path, :class => 'btn btn-default' %>
</center>
